body, html {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 30px 12px;
    border-bottom: 3px solid #000;
}

.Logo{
    font-size: 32px;
    text-transform: uppercase;
}

.nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link{
    font-size: 32px;
    color: #000;
    text-decoration: none;
}