body, html {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --orange: #FF9130;
    --text-gray: #333333;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 60px 24px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--orange);
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.25px;
    line-height: 130%;
    font-family: "Dela Gothic One", sans-serif;
}

.auth {
    display: flex;
    gap: 16px;
}

.login {
    background: #fff;
    border: 2px solid #000;
    border-radius: 9999px;
    padding: 8px 20px;
    cursor: pointer;
    padding: 14px 40px 14px 40px;
    font-size: 16px;
    font-weight: 500;
}

.login:hover {
    background-color: #f7f7f7;
}
.login:active {
    background-color: #e5e5e5;
}

.register {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 9999px;
    padding: 12px 40px 12px 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.register:hover {
    background-color: #131313
}

.register:active {
    background-color: #212121
}

.information {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 60px 40px 60px;
    gap: 20px;
}

.title-box {
    background: var(--orange);
    border-radius: 24px;
    padding: 24px 24px;
    text-align: center;
    margin-bottom: 40px;
    gap: 10px;
}

.main-title {
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0.25px;
    font-style: #000;
    font-weight: 900px;
    color: #fff;
}

.content-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
    padding: 24px;
    border: 1px solid #EEEE;
    border-radius: 12px;
}

.teacher {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    border-right: 1px solid #EEEE;
    gap: 16px;
}

.teacher-inck {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.teacher-image {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    object-fit: cover;
}

.teacher-name h2 {
    font-size: 24px;
    font-weight: Bold;
}

.teacher-description h3 {
    font-size: 14px;
    color: var(--text-gray);
    font-weight: 400;
    font-style: Italic;
}

.teacher-tools-title h3 {
    color: var(--orange);
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.25px;
}

.teacher a {
    display: inline-block;
    background: #A7AEB833;
    padding: 4px 16px 4px 16px;
    gap: 10px;
    background-color: rgba(167, 174, 184, 0.2);
    border-radius: 8px;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.25px;
    text-decoration: none;
    color: #000;
    margin-right: 8px;
    margin-bottom: 6px;
}


.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-me h2 {
    color: var(--orange);
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.25px;
}

.description-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.25px;
    color: #333;
}

.footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 60px 24px 60px;
    display: flex;
    border-top: 1px solid #E9EAEA;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 24px;
}

.nav a {
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    color: #A8A8A8;
}
